In [32]:
import numpy as np 
import pandas as pd

# Đọc dữ liệu từ tệp thứ nhất
df = pd.read_csv('WHR2005-2022.csv')

Asia = df[df['Regional Indicator'].isin(['Southeast Asia', 'East Asia'])]


Asia = Asia.round(4)
Asia.to_csv('Asia.csv', index = False)

In [33]:
Asia_float = Asia.select_dtypes(include=['float64'])
Asia_float

,Life Ladder,Logged GDP Per Capita,Social Support,Healthy Life Expectancy At Birth,Freedom To Make Life Choices,Generosity,Perceptions Of Corruption
293,3.5687,7.7464,0.7931,57.64,NaN,0.2535,0.8292
294,4.1560,7.8263,0.6751,57.98,0.8187,0.1139,0.8785
295,4.4622,7.8745,0.6193,58.32,0.9142,0.0439,0.8884
296,4.1106,7.8602,0.8183,58.66,0.9372,0.1510,0.9648
297,4.1411,7.9036,0.6972,59.00,0.9401,0.3483,0.8957
...,...,...,...,...,...,...,...
2150,5.2955,9.1733,0.8319,65.20,0.9093,-0.0608,0.8084
2151,5.4675,9.2352,0.8476,65.30,0.9525,-0.1459,0.7879
2152,5.4623,9.2544,0.7645,65.40,0.9447,0.0658,0.7911
2153,5.5402,9.2713,0.7995,65.50,0.8968,0.1069,0.7978
2154,6.2665,9.3329,0.8787,65.60,0.9754,-0.1790,0.7034

In [35]:
countries = Asia['Country Name'].unique()
countries

array(['Cambodia', 'China', 'Hong Kong S.A.R. of China', 'Indonesia',
       'Japan', 'Laos', 'Malaysia', 'Mongolia', 'Myanmar', 'Philippines',
       'Singapore', 'South Korea', 'Taiwan Province of China', 'Thailand',
       'Vietnam'], dtype=object)

In [37]:
# Lặp qua từng quốc gia và điền giá trị trung bình cho các ô null
for country in countries:
    country_data = Asia[Asia['Country Name'] == country]
    for column in country_data.columns:
        if country_data[column].dtype == 'float64':
            Asia.loc[Asia['Country Name'] == country, column] = country_data[column].fillna(country_data[column].mean())

Asia.to_csv('Asia3.csv', index = False)

In [ ]:
float_columns = Asia.select_dtypes(include=['float64']).columns

# Lặp qua từng quốc gia và điền giá trị trung bình cho các ô null trong các cột float64
for country in df['Country Name'].unique():
    country_data = df[df['Country Name'] == country]
    df.loc[df['Country Name'] == country, float_columns] = country_data[float_columns].fillna(country_data[float_columns].mean())

Asia.to_csv('Asia2.csv', index = False)